*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightslategrey;
}
ul{
    list-style: none;
}
.bb{
    box-sizing: border-box;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu{
    max-width: 25%;
}
.notificacao{
    font-size: 1.2em;
    font-weight: bolder;
    background-color: rgb(212, 37, 37);
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    
}
button{
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: rgb(0, 74, 117);
    padding: 8px;
    border-radius: 15px;
}
a{
    text-decoration: none;
}