*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.formulario {
background-color: #ffffff;

    box-shadow: 2px 2px 5px 2px #005b6e;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    width: 20vw;
    height: 60vh;

    border-radius: 10%;
}

.formularioLabel {
    color: rgb(0, 0, 0);
  
}

.containerInputs {
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.formularioInput {
    width: 90%;
    height: 20%;

    background-color: rgba(172, 170, 171, 0.363);
    border-radius: 10px;
    
}

.formularioInput:hover {
        background-color: rgb(167, 167, 167);

}

.formularioBotao {
    margin-top: 5%;
    width: 50%;
    height:10%;

    border-radius: 10px;

    background-color: #005b6e;
    color: #ffffff;
}

.formularioBotao:hover {
    background-color: #0f849b;
}