.atividade{
    background-color: #ededed;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.atividade button:hover{
    background-color: #ededed;
}
.texto-atividade{
    max-width: 85%;
}
a{
    color: black;
}