@import url('Header.css');
@import url('Footer.css');
@import url('Form.css');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

:root {
    --color-Highlight: #015a6d;
    --color-Hover: #02687f;
    --color-Background: #fefefe;
    --color-redButton: #9b0000;
    --color-Box01: #ededed;
    --color-Box02: #020311;
    --color-Text02: #51575d;
    --color-Text03: #3d4247;
    --color-Caixa2: #000000;
}

body {
    background-color: var(--color-Background);
}
.content{
    padding: 10px 50px;
}
.mb{
    margin-bottom: 5px;
}
.form-atividade{
    margin: 10px 0;
    display: inline-block;
}
button, .form-atividade{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: var(--color-Highlight);
    border: 2px solid var(--color-Highlight);
    padding: 8px;
    border-radius: 15px;
    transition: ease 0.3s;
}
button:hover, .form-atividade:hover{
    background-color: white;
    color: var(--color-Highlight);
}
.delete{
    background-color: var(--color-redButton);
    border-color: var(--color-redButton);
}
.delete:hover{
    color: var(--color-redButton);
}
.date{
    font-weight: bolder;
}
p{
    margin-bottom: 4.5px;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 4px;
}
a{
    color: black;
}

.atividade{
    background-color: var(--color-Box01);
    padding: 15px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.atividade button:hover{
    background-color: var(--color-Box01);
}
.texto-atividade{
    max-width: 85%;
}
a{
    color:var(--color-Box02);
}

/* -- user_profile -- */

.optionsContainer {
    margin: 20px;
    gap: 10px;
    display: flex;
    flex-direction: ROW;
    flex-wrap: wrap;
    justify-content: center;
}

.linkAccInfo {
    padding: 20px;
    background-color: #EDEDED;
    box-shadow: lightgray 5px 5px 5px;
    width: 15em;
    text-align: center;
    border-radius: 20px;
}

/* -- account_info -- */

.sub-title-end {
    display: flex;
}

/* -- new_password -- */

.superiorContainer {
    display: flex;
    justify-content: center;
    padding: 60px;


}

.passContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 8px;

    padding-top: 25px;
    box-shadow: lightgray 10px 10px 10px ;
    background-color: #EDEDED;

    
    border-radius: 5px;
    width: 300px;
    height: 350px;
}

.passContainer input {
    width: 80%;
}

#passButton {
    margin-top: 30px;
}




